html {
  margin: 0;
  padding: 0;
  border: 0;
}

h1 {
    font-size: 3rem;
}

/* ---------- Lamding Page ---------- */
.homepage-bg {
    height: 100vh;
    
    background-color: grey;
}

#social-nav {
    flex-direction: column;
    display: inline-flex;
    gap: 1rem;
}

a.nav-link.social-link {
    color: #000;
}

/* ---------- Navigation Bar ---------- */
.cv-nav {
    /* bottom: 50px; */
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.sticky-top {
    bottom: 50px;
}

.content {
    height: 1000px;
}
