html {
  margin: 0;
  padding: 0;
  border: 0;
}

h1 {
    font-size: 3rem;
}

.section-col {
    padding: 30px;
}

.section-heading {
    margin-top: 25px;
    margin-bottom: 40px;
}

.uppercase {
    text-transform: uppercase;
}

.capitalize {
    text-transform: capitalize;
}

/* ---------- Colours ---------- */
.bg-color-personal-info {
    background-color: lightsteelblue;
}

/* ---------- Lamding Page ---------- */
.homepage-bg {
    height: 100vh;
    
    background-color: grey;
}

#social-nav {
    flex-direction: column;
    display: inline-flex;
    gap: 1rem;
}

a.nav-link.social-link {
    color: #000;
}

/* ---------- Navigation Bar ---------- */
.cv-nav {
    /* bottom: 50px; */
    padding-top: .5rem;
    padding-bottom: .5rem;
    background-color: transparent;
}

.sticky-top {
    bottom: 50px;
}

.content {
    height: 1000px;
}

/* ---------- Personal Info ---------- */
.personal-info-item {
    margin-bottom: 20px;
}

.personal-info-item .key,
.personal-info-item .value {
    padding-right: 8px;
    display: inline-block;
}

.personal-info-item .key {
    width: 30%;
    margin-right: 20px;
}

.personal-info-item .value {
    position: relative;
    width: 60%;
}

.personal-info-item .key p,
.personal-info-item .value p {
    margin: 0;
}

.personal-info-item .key p {
    font-weight: bold;
}
